body{
    background-color: tan;
    /* color: #080824; */
    color: black;
    margin: 0;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h4, form {
    text-align: center;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

button{
  border-radius: 5px;
  margin: auto;
  display: inline-flex;
  text-size-adjust: 40px;
  /* display: grid; */
  /* padding: 2px 5px; */
  /* text-align: center; */
}

textarea{
  width: 80%;
  height: 80px;
}

select, input{
  padding: 2px 5px;
  margin: 8px 0;
  border-radius: 5px;

}


#head{
  background-color: #9C9F84;
  padding: 20px;
  border-top-color: #92a8d1;
}

#main-photo{
    width: auto;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid beige;
    border-radius: 5px;
}

.list-image{
    width: auto;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

#state-dropdown, #sign-up{
  padding-top: 10px;
}

.float-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: auto;
}

.float-child {
  flex: 1;
  display: flex; 
} 

.grid-container{
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.card{
  margin: auto;
  border-radius: 15px;
  width: 700px;
  border-radius: 15px;
  background-color: beige;
}

.card-content{
  /* text-align: left; */
  border-radius: 20px;
  /* width: 500px; */
}

.content{
  /* padding-bottom: 10px; */
  padding: 20px;
}

.container{
  background-color: beige;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  width: 200px;
  margin: 25px;
  padding-bottom: 10px;
}

.review-container{
  background-color: beige;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  width: 400px;
  margin: auto;
  padding-bottom: 10px;
}

.park-container{
  background-color: beige;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  text-align: center;
  /* width: fit-content; */
  width: 550px;
  margin: auto;
}



/* .card-header
  @extend %card-item
  background-color: $card-header-background-color
  align-items: stretch
  box-shadow: $card-header-shadow
  display: flex */

/* .card-header-title
  align-items: center
  color: $card-header-color
  display: flex
  flex-grow: 1
  font-weight: $card-header-weight
  padding: $card-header-padding
  &.is-centered
    justify-content: center

.card-header-icon
  align-items: center
  cursor: pointer
  display: flex
  justify-content: center
  padding: $card-header-padding */

/* .card-image{
  display: block;
  position: relative;
  &:first-child{
    img{
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
}
  &:last-child{
    img{
      border-bottom-left-radius: $card-radius
      border-bottom-right-radius: $card-radius
    }
}
} */

