body{
    background-color: tan;
    color: black;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h4, form {
    text-align: center;
}

h4{
  padding-top: 10px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

button{
  border-radius: 5px;
  margin: auto;
  display: inline-flex;
  text-size-adjust: 40px;
  background-color:#F7DCB4;
}

textarea{
  width: 85%;
  height: 90px;
  resize: none;
  background-color: #F7DCB4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

select, input{
  padding: 2px 5px;
  margin: 8px 0;
  border-radius: 4px;
  background-color: #F7DCB4;
}

input[type=submit]{
  background-color:#F7DCB4;
}


#head{
  background-color: #9C9F84;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  vertical-align: baseline;
}

#main-photo{
    width: auto;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid beige;
    border-radius: 5px;
}

.image-is-4by3{
    padding-top: 15px;
}

.list-image{
    width: auto;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid tan;
    border-radius: 5px;
}

#state-dropdown, #sign-up{
  padding-top: 10px;
}

.float-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: auto;
}

.float-child {
  flex: 1;
  display: flex; 
} 

.grid-container{
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.card{
  margin: auto;
  border-radius: 15px;
  width: 700px;
  border-radius: 15px;
  background-color: beige;
}

.card-content{
  border-radius: 20px;
}

.content{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.container{
  background-color: beige;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  width: 200px;
  margin: 25px;
  padding-bottom: 10px;
}

.review-container{
  background-color: beige;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  width: 500px;
  margin: auto;
  padding-bottom: 5px;
}

.park-container{
  background-color: beige;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  text-align: center;
  width: 550px;
  margin: auto;
}
